/* Genel stil */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    
}
.dynamic-title {
    display: inline-block; /* Genişliği belirlemek için inline-block */
    color: red;
    padding: 5px 10px;
    text-align: center;
    width: calc(787% / 9); /* Tablo hücrelerinin genişliği kadar ol */
    box-sizing: border-box;
    font-size: 180%;
  }


/* Tablo düzenlemeleri */
.table-container {
    display: flex;
    flex-wrap: wrap;
    width: 150%;
    margin: 0 auto;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 7rem;
    border: 1px solid #000;
    height: 368px; /* İçeriğe göre otomatik olarak boyutlanır */
}

td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

td.cell {
    width: 200px;
}

.cell-content {
    display: flex;
    align-items: center;
    white-space: nowrap;
    height: 40px;
    width: auto;
    justify-content: flex-end; /* Sağ tarafa yasla */
}
.cell {
    padding: 10px;
}


.cell-content input[type="radio"] {
    transform: scale(1.3);
    
}
input[type="radio"]{
    margin-right: auto;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-left: 10px;
    text-align: right; /* Sağ hizalama */
}

.text2 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    margin-left: 35px;
}

.text-top,
.text-bottom {
    display: block;
    white-space: nowrap;

}

.text-top, .text-bottom {
    margin-left: auto;
    font-size: 15px;
}

.yazi {
    text-align: right;
    font-size: 15px;
}

.TekcekimBaslik{
    height: 57px;
}





/* Background Color for Different Classes */
.tek-cekim { background-color: #d5cec3 !important; }
.bonus { background-color: #e6ffe8 !important; }
.axess { background-color: #fff9e6 !important; }
.paraf { background-color: #fce8f2 !important; }
.maximum { background-color: #f08fbf !important; }
.world { background-color: #e7d3f8 !important; }
.ziraat { background-color: #ef5d8d !important; }
.vakif { background-color: #f6d7bc !important; }
.qnb { background-color: #a8d7f0 !important; }
.visa { background-color: #eae7e1 !important; padding-top: 10px; }
.Yellow { background-color: #ffc107; }

.gizle { opacity: 0; border: none; }

@media (max-width: 790px) {
    
    table {
        width: auto;
        max-width: 100%;
    }
}
@media (max-width: 790px) {
    
    .dynamic-title {
        
        font-size: 150%;
    }
}

@media (max-width: 480px) {
    .table-container {
        flex-direction: column;
        align-items: center;
        width: 90%; /* Tablo konteynerinin genişliğini %90 yaparak daha küçük görünmesini sağlıyoruz */
    }
    table { 
        max-width: 100%; 
        font-size: 0.9rem;
    }
    table td, table th {
        padding: 8px; /* Tablo hücrelerindeki boşlukları biraz küçültüyoruz */
    }
    .TekCekim-Table { 
        display: none; 
    }
    .card-header h5 { 
        font-size: 1rem; 
        margin-top: 10px; /* Yukarı kaymayı önlemek için margin ekledik */
        text-align: center;
    }
    .dynamic-title {
        
        font-size: 120%;
        margin-left: 25px;
        border-radius: 10px solid #000 ;
    }
}




